In [1]:
# String Notation
a='Hiii i am Deepanshu'
print(a)

Hiii i am Deepanshu

In [5]:
b=" hiiii am Deepanshu"
print(b)
print(b.replace('D','d'))

 hiiii am Deepanshu
 hiiii am deepanshu

In [1]:
# multi line strings
d=''' hiii
my
name
is
deepanshu
verma


'''
print(d)

 hiii
my
name
is
deepanshu
verma

In [1]:
print("""Hello
     Tushar""")

Hello
     Tushar

In [6]:
a="""Hii 
   i 
    am 
      Tushar"""
print(a)

Hii
   i
    am
      Tushar

In [1]:

a=10
print(a)
b='''
hdhopqw
dihpc[j
     c,w
     dsugdpqwx
     qwx]
'''
print(b)

10

hdhopqw
dihpc[j
     c,w
     dsugdpqwx
     qwx]

In [8]:
c=""" hiiii 
             my
                 name  
                      is 
                         Deepanshu
                                   verma
"""
print(c)

 hiiii
             my
                 name
                      is
                         Deepanshu
                                   verma

In [11]:
a="""Tushar
      Tomer
           is
             a
              very
                  good
                      boy."""
print(a)

Tushar
      Tomer
           is
             a
              very
                  good
                      boy.

### String formatting

In [4]:
name='Deepanshu'
full_name=name+ 'verma'
print(full_name) # concatenation

Deepanshuverma

In [13]:
a='Tushar '
last_name='Tomer'
print(a+last_name)

Tushar Tomer

In [14]:
a='Tushar '
last_name=a+'Tomer'
print(last_name)

Tushar Tomer

In [2]:
a='Hiii i am Deepanshu'
b=' Hiii i am Deepanshu'
print(a+b)

Hiii i am Deepanshu Hiii i am Deepanshu

In [6]:
name='Deepanshu'
full_name=name+ ' '+'verma'
print(full_name) # concatenation

Deepanshu verma

In [13]:
a=' deepanshu '
b='verma'
c=b+a
print(c)
print(c*5)

verma deepanshu
verma deepanshu verma deepanshu verma deepanshu verma deepanshu verma deepanshu

In [10]:
x='hiii'
a='deepanshu'
c='verma'
print(x-c) # It is not work because string has no subtraction operand .

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [72]:
d='a'
print(d*2)

aa

In [15]:
a='hiii'
print('hello'+' '+a)

hello hiii

In [9]:
## f specifier
## format specifier
greeting='good morning'
greeting1='good evening'
print('hello',greeting)
print('hello', greeting1, greeting)
print(f'hello {greeting1} {greeting}')
print('hello {} {}'.format(greeting,greeting1))

hello good morning
hello good evening good morning
hello good evening good morning
hello good morning good evening

In [21]:
# format specifier
name='Deepanshu'

final_greeting = 'How are you, {}?'

print(final_greeting.format(name))
# print(final_greeting)

How are you, Deepanshu?

In [12]:
a='Tushar'
b='Tomer'
final='How are you,{} {}?'
print(final.format(a,b))

How are you,Tushar Tomer?

In [14]:
name='Deepanshu'
surname='verma'

print(' my first name is {} and sur name is {} '.format(name,surname))
print(' my first name is {} and sur name is {} '.format(surname,name))

 my first name is Deepanshu and sur name is verma
 my first name is verma and sur name is Deepanshu

####  calculate your age in months use the f string to print ?

In [191]:
age = int(input('Enter your age: ')) # Enter 3
print(f'You have lived for {age * 12} months.') # Prints You have lived for 36 months.

Enter your age: 24
You have lived for 288 months.

In [39]:
age = int(input('Enter your age: ')) # Enter 3
months = age * 12
print(f'You have lived for {months} months.') # Prints You have lived for 36 months.

Enter your age: 24
You have lived for 288 months.

### A small exercise: calculate number of seconds lived instead of months! ?

In [193]:
age=int(input('enter age'))
print(f'my age is {age*365*24*60*60} in seconds')

enter age24
my age is 756864000 in seconds

In [187]:
a='Tushar'
print(len(a))
print(a[5])

6
r

In [10]:
name='deepanshu123456789'

surname='VERMA'
                                 
# print(len(name)) # to check the length of string
# print(len(surname))
# print(name[0])
# print(name[0:10])
# print(name[-2])
# print(name[-5:])
# print(name[-5:-1])
# print(name[-1:-5:-1])
# print(name[-1::-1])
# print(name[-1:0:-1])
# print(name[:])
# print(name[0:])
# print(name[-1:-6:-1])

In [35]:
# checking immutability
a='deepanshu'

a[0]='D'
print(a)

TypeError: 'str' object does not support item assignment

In [36]:
name='deepanshu123466789'
print(name.count('e'))

2

In [35]:
print(name[6]) # indexing

s

In [25]:
print(name[8])
print(name[13])

u
6

In [26]:
print(name[3:6]) # slicing last index excluded

pan

In [38]:
print(name.replace('d','[10000]'))

[10000]eepanshu123466789

In [37]:
print(name[6:1000000000000000000000000000000000000]) #slicing

shu123466789

In [11]:
a='a quick brown fox jumps over the lazy dogs'
b=a.split()
print(b)
print(a.strip(a[5]))

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs']
a quick brown fox jumps over the lazy dogs

In [22]:
a=['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs']
a.remove('dogs')
print(a)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy']

In [19]:
a='a quick brown fox jumps over the lazy dogs'
print(a.rstrip('dogs'))

a quick brown fox jumps over the lazy

In [20]:
a='a quick brown fox jumps over the lazy dogs'# String can't support remove
a.remove('jumps')
print(a)

AttributeError: 'str' object has no attribute 'remove'

In [1]:
a='a quick brown fox jumps over the lazy dogs'# String can't support remove
a.replace('jumps',"")
print(a)

a quick brown fox jumps over the lazy dogs

In [12]:
a='a quick brown fox jumps over the lazy dogs'
a=a.split()
print(a)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs']

In [13]:
a='a quick brown fox jumps over the lazy dogs'

print(a.lstrip('a quick'))

brown fox jumps over the lazy dogs

In [201]:
print(name[-1:])

9

In [202]:
print(name[:-3])

deepanshu123466

In [203]:
print(name[::-1])

987664321uhsnapeed

In [11]:
print(name[-5:-2]) # slicing

667

In [12]:
print(name[::-1]) # reverse of stirng

987664321uhsnapeed

In [205]:
print(name.upper())

DEEPANSHU123466789

In [204]:
print(surname.lower())

verma

In [97]:
print(name.count('e'))

2

In [208]:
print(name.find('u'))

8

In [209]:
print(name.replace('d','D'))

Deepanshu123466789

In [210]:
print(name.isalpha())

False

In [171]:
a='1234'
print(a.isdigit())

True

In [99]:
b='deepanshu123'
print(b.isalnum()) #t
print(b.isupper()) #f
print(b.islower()) #t
print(b.replace('p','a'))
print(b.replace(b[0:3],'n'))

True
False
True
deeaanshu123
npanshu123

In [103]:
a='Tushar Tomer'
print(a.replace(a[0:6],'Karan'))

Karan Tomer

In [104]:
a='Tushar Tomer'
print(a.replace('a[0:6]','Karan'))# because slicing is not in inverted comma('')
print(a.replace('Tushar','Karan'))

Tushar Tomer
Karan Tomer

### String functions

In [56]:
mystr='a quick brown fox jumps over the lazy dog'
# print(len(mystr))
# print(mystr[5])
# print(mystr[7])
# print(mystr[0:4])
# print(mystr[:21])
# print(mystr[0:41])
# print(mystr[0:])
# print(mystr[100])
# print(mystr[30])
# print(mystr[0:100])
# print(mystr[100:0])
# print(mystr[0:42:2])
# print(mystr[0:42:10])
# print(mystr[0:42:100])
# print(mystr[::])
# print(mystr[0:41:1])
# print(mystr[::1])
# print(mystr[::2])
# print(mystr[::50])
# print(mystr[19:5])
# print(mystr[19:-5])
# print(mystr[-3])
# print(mystr[-3:])
# print(mystr[0:-3])
# print(mystr[-3:-2])
# print(mystr[-27:-24])
# print(mystr[-3:-11])
# print(mystr[14:17])
print(mystr[::-1])
print(mystr[::-5])
print('------------------------------------------')
print(mystr[4:21])
mystr[14:28]

god yzal eht revo spmuj xof nworb kciuq a
gzhvmooca
------------------------------------------
ick brown fox jum

'fox jumps over'

In [17]:
from collections import Counter
mystr='a quick brown fox jumps over a lazy the dog'
print(Counter(mystr))

Counter({' ': 9, 'o': 4, 'a': 3, 'u': 2, 'r': 2, 'e': 2, 'q': 1, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'l': 1, 'z': 1, 'y': 1, 't': 1, 'h': 1, 'd': 1, 'g': 1})

In [18]:
mystr='a quick brown fox jumps over a lazy the dog'

In [19]:
# count
print(mystr.count('o')) # to count the particular character in a string

4

In [147]:
#capitalize
print(mystr.capitalize())

A quick brown fox jumps over the lazy dog

In [150]:
a='tushar is a very good boy.'
print(a.capitalize())
print(a.title())

Tushar is a very good boy.
Tushar Is A Very Good Boy.

In [20]:
a='tushar is a very good boy.'
x=''
b=(a.split())
print(b)
b.remove('a')
print(b)
# z=b.split()
# print(z)
#print(str(b))
for i in b:
        x=x+i
        x=x+" "
print(x)
#print(''.join(b))

['tushar', 'is', 'a', 'very', 'good', 'boy.']
['tushar', 'is', 'very', 'good', 'boy.']
tushar is very good boy.

In [60]:
a='Tusahr is a very good boy.'
b=0
for i in a:
    print(i,b)
    b+=1
print(a.replace(a[17],'G'))
print(a.capitalize())

T 0
u 1
s 2
a 3
h 4
r 5
  6
i 7
s 8
  9
a 10
  11
v 12
e 13
r 14
y 15
  16
g 17
o 18
o 19
d 20
  21
b 22
o 23
y 24
. 25
Tusahr is a very Good boy.
Tusahr is a very good boy.

In [66]:
mystr='a quick fox jumps over a lazy the dog'
#find
# print(mystr.find('o'))
# print(mystr.find('do'))
# print(mystr.find('#$%^&*((*&^%$))'))
print(mystr.find('br'))

8
8

In [155]:
a='Tushar @ .'
print(a.find('.'))

9

In [56]:
print(mystr.index('o'))
print(mystr.find('o'))

10
10

In [68]:
mystr='a quick brown fox jumps over a lazy dog'
mystr1='aquickbrownfoxjumpsoverthelazydog'
mystr2='12345678967'
mystr3='deepanshu2022'
mystr4=' '
print(mystr.isalpha())
print(mystr1.isalpha())
print(mystr2.isdigit())
print(mystr3.isalnum())
print(mystr4.isspace())
print(mystr.isspace())
print(sorted(mystr1))

False
True
True
True
True
False
['a', 'a', 'b', 'c', 'd', 'e', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'o', 'o', 'o', 'p', 'q', 'r', 'r', 's', 't', 'u', 'u', 'v', 'w', 'x', 'y', 'z']

In [20]:
mystr='a quick brown fox jumps over a lazy dog'

In [69]:
print(mystr.upper())
abc=mystr.upper()
print(abc)
print(abc.lower())
print(abc.upper())
print(abc.islower())
print(abc.isupper())

A QUICK BROWN FOX JUMPS OVER A LAZY DOG
A QUICK BROWN FOX JUMPS OVER A LAZY DOG
a quick brown fox jumps over a lazy dog
A QUICK BROWN FOX JUMPS OVER A LAZY DOG
False
True

In [73]:
name='Deepanshu'
name1='deepanshu'
string=' '
# print(name.iscapitalize()) because iscapitalized does not exist
print(name.istitle()) # checks the first word  is capita or not
print(name1.istitle())
print(string.isspace())
print(name.capitalize())

True
False
True
Deepanshu

In [23]:
print(mystr)

a quick brown fox jumps over a lazy dog

In [76]:
print(mystr.replace('quick','jaldi'))
print(mystr.replace('quick',' '))

a jaldi brown fox jumps over a lazy dog
a   brown fox jumps over a lazy dog

In [26]:
xyz='UPPER'
abc='lower'
print(xyz.swapcase())
print(abc.swapcase())

upper
LOWER

In [158]:
a='Tushar Tomer'
b='tUSHAR tOMER'
print(a.swapcase())
print(b.swapcase())

tUSHAR tOMER
Tushar Tomer

In [92]:
mystr4='a quick brown fox jumps over the lazy dog'
mystr3='a,quick,brown,fox,jumps,over,the,lazy,dog'
mystr2='a,/brown/fox/jumps/over,the,lazy,dogs'
mystr1='aquickbrownfoxjumpsoverthelazydog'
print(mystr.split())
print(mystr4.split(' '))
print(mystr3.split(','))
print(mystr2.split('/'))
print(mystr1.split())

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']
['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['a,', 'brown', 'fox', 'jumps', 'over,the,lazy,dogs']
['aquickbrownfoxjumpsoverthelazydog']

In [34]:
print(mystr)

a quick brown fox jumps over a lazy dog

In [93]:
# strip function prints the string after removing the from beginning and end
# a quick brown fox jumps over a lazy dog
print(mystr.strip("dog"))
print(mystr.strip('a'))
print(mystr.strip('fox'))
print(mystr.endswith('dog'))
print(mystr.startswith('a'))

a quick brown fox jumps over a lazy
 quick brown fox jumps over a lazy dog
a quick brown fox jumps over a lazy dog
True
True

In [96]:
a='a quick brown fox jumps over the lazy dogs.'
print(a.strip("dogs"))# It does not strip because last word is dot(.) strip does not cut middle value
print(a.index('brown'))

a quick brown fox jumps over the lazy
8

In [113]:
email='abcc@123.com'
c=0
for i in email:
    if i.isalpha() or i.isdigit():
        pass
    else:
        c+=1
print(c)

2

In [98]:
email='abcc@123.com'
c=0
for i in email:
    if i.isalnum():
        pass
    else:
        c+=1
print(c)

2

In [195]:
a='a quick brown fox jumps over the lazy dog'
b=1
for i in a:
    print(b,i)
    b+=1

1 a
2
3 q
4 u
5 i
6 c
7 k
8
9 b
10 r
11 o
12 w
13 n
14
15 f
16 o
17 x
18
19 j
20 u
21 m
22 p
23 s
24
25 o
26 v
27 e
28 r
29
30 t
31 h
32 e
33
34 l
35 a
36 z
37 y
38
39 d
40 o
41 g

# Write a string and remove space and print the string in column
# Print a word and check it's palidrom or not. Ex=madam

In [100]:
a='a quick brown fox jumps over the lazy dogs'
print(str(a))
print(a.strip('a'))
b=a.split(' ')
print(b)
print(''.join(b))

a quick brown fox jumps over the lazy dogs
 quick brown fox jumps over the lazy dogs
['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dogs']
aquickbrownfoxjumpsoverthelazydogs

In [102]:
a='madam'
b=a[-1::-1]
print(b)
if a==b:
    print("Palidrom:")
else:
    print("Not Palidrom")

madam
Palidrom:

In [110]:
a=input("Enter any no.=")
b=a[::-1]
if b==a:
    print(a,"is a Palidrom:")
else:
    print(a,"Not a Palidrom:")

Enter any no.=1234
1234 Not a Palidrom:

In [118]:
a=int(input("Enter Any No.="))
e=a
d=0
while a!=0:
    b=a%10
    d=d*10+b
    a=a//10
print(d)
if d==e:
    print(e,'is a palidrom:')
else:
    print(e,'is not a palidrom:')

Enter Any No.=1234
4321
1234 is not a palidrom:

In [123]:
a=1,2,4,7,8,5,6,9,4,0
print(sorted(a))
print(sorted(a,reverse=True))

[0, 1, 2, 4, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 4, 2, 1, 0]

In [41]:
a='Tushar is a very good boy .'
print(a.split(' '))

['Tushar', 'is', 'a', 'very', 'good', 'boy', '.']

In [13]:
s='a quick brown fox jumps over the lazy dogs'
x=''
for i in s:
    if i not in x:
        x=x+i
    else:
        pass
    
print(x)
y=sorted(x)
print(y)
print(''.join(y))

a quickbrownfxjmpsvethlzydg
[' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
 abcdefghijklmnopqrstuvwxyz

In [125]:
a='a quick brown fox jumps over the lazy dogs'
b=''
f=''
for i in a:
    if i not in b:
        b=b+i
    else:
        pass
print(b)
d=sorted(b)
print(d)
e=(''.join(d))
print(e)
for i in e:
    if i==' ':
        pass
    else:
        f=f+i
print(f)

a quickbrownfxjmpsvethlzydg
[' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
 abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz

In [29]:
a='a quick brown fox jumps over the lazy dogs'
print(a[0:6])

a quic

In [26]:
a='Tushar'
b=(sorted(a,reverse=True))
print(b)
r=sorted(b)
print(r)

['u', 's', 'r', 'h', 'a', 'T']
['T', 'a', 'h', 'r', 's', 'u']

# floor() and ceil()
# Both are remove after point value

In [3]:
import math
a=2.4444
b=math.floor(a) # floor return less than or equal value. it remove point value
print(b)

2

In [5]:
import math
a=2
b=math.floor(a)
print(b)

2

In [7]:
import math
a=2.4444
b=math.ceil(a) # ceil return greater than or equal value. it remove point value
print(b)

3

In [8]:
import math
a=2
b=math.floor(a)
print(b)

2

# round()
# round hama float value ko roundof karke deta hai.Aur hum apne merji se kitne bhi no. tak roundof kr sakte hai.

In [9]:
import math
a=2.4444
b=round(a)
b

2

In [10]:
import math
a=2.4444
b=round(a,2)
b

2.44